<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogSystem</title>
    @Styles.Render("~/Content/Angular")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  
    @RenderBody()

    @Scripts.Render("~/bundles/Angular")
    @RenderSection("scripts", required: false)
</body>
</html>
